<nav class="navbar navbar-expand-xl bma-navbar bma-navbar--transparent" aria-label="Primary navigation">
  <div class="container">
    <a class="navbar-brand" href="./index.html" aria-label="Bright Minds Academy home page">
      <span class="brand-mark" aria-hidden="true">BM</span>
      <span>
        <span class="d-block lh-1">Bright Minds Academy</span>
        <small class="d-block brand-tagline">Personalized Learning. Proven Results.</small>
      </span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#siteNavOffcanvas"
      aria-controls="siteNavOffcanvas"
      aria-label="Open navigation menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="siteNavDesktop">
      <ul class="navbar-nav ms-auto mb-2 mb-xl-0 align-items-xl-center bma-navbar-links">
        <li class="nav-item"><a class="nav-link" data-nav-link="index" href="./index.html" data-home-nav="#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="about" href="./about.html" data-home-nav="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="./programs.html" data-home-nav="#how-it-works">How It Works</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="subjects" href="./subjects.html" data-home-nav="#subjects">Subjects</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="programs" href="./programs.html" data-home-nav="#pricing">Programs</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="results" href="./results.html" data-home-nav="#results">Results</a></li>
        <li class="nav-item"><a class="nav-link" href="./results.html" data-home-nav="#testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="faq" href="./faq.html" data-home-nav="#faq">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="contact" href="./contact.html" data-home-nav="#contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link="blog" href="./blog.html">Blog</a></li>
      </ul>

      <a class="btn btn-sm btn-brand-primary btn-demo d-none d-xl-inline-flex ms-xl-3" href="./booking.html" data-open-demo-modal="true">Book Free Demo</a>
    </div>
  </div>
</nav>
